@import "../../../assets/scss/variables";

.header {
  background-color: $neutral-white;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 7.5rem 1.25rem 7.5rem;
  height: 5rem;

  &__organizations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    p {
      font-size: 1.125rem;
      color: $primary_blue-ink;
    }
  }
}
